.quiz-container {
  box-shadow:  0 0 15px rgb(214, 103, 127);
  border-radius: 5px;
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz-form {
  background-color: fff;
  border-color: aquamarine;
  border-style: outset;
  padding: 20px;
  border-radius: 3px;
  text-align: center;
}

.h3-gap {
  margin-left: 2%;
  margin-right: 2%;
  border-color: aqua;
}

/* .question-container {
  display: flex;

  margin-top: 90%;
  margin-bottom: 10%;
} */

.buttons-radio {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-form{
  width:100%;
  justify-content: center;
  display: flex;
  margin-bottom: 1%;
}

.web-name{
  width:100%;
  height: 1000px;
  padding: 4% 0;
  justify-content: center;
}

.card{
  box-shadow:  0 0 15px #d6677f;
  border-radius: 20px;
  margin-left: 25%;
  align-items: center;
}

.buttons-radio{
  margin-bottom: 2%;
}

.eval-submit{
  padding-bottom: 2%;
}

.option-container{
  height: 30px;
  flex-grow: 1;
}

.flex{
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 25%;
}

.selected {
  border-color: aqua;
  background-color: rgb(214, 103, 127);
  color: whitesmoke;
  font-weight: bold;
  border-radius: 1px;
}

.col-sm{
  /* border-style: dashed; */
  padding: 20px;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  border-color: aqua;
}

.col-sm:hover {
  background-color: rgb(214, 103, 127);
  cursor: pointer;
  transition: 300ms;
}

.que-cont{
  width: 100%;
}

.dropdown-form select {
  width: 50%;
  height: 40px;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  margin-bottom: 3%;
  /* appearance: none; remove default arrow */
}

.dropdown-form option {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
}

.card-name-profile{
  box-shadow:  0 0 15px rgb(214, 103, 127);
  border-radius: 5px;
  width: 45%;
  
}

.container-profile{
  
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  margin-top: 2%;
  margin-bottom: 2% 
}

.tab-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
}

.tab.active {
  background-color: #4caf50;
  color: #fff;
}
